body    {
    background-image: url(../IMAGES/Apartment%20for%20Admin%20page.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#jumbo  {
    background: rgba(255, 255, 255, 0.70);
}
.textbasically  {
    font-weight: 450;
}
.lead   {
    font-size: 160%;
}
